<section class="index-s1 container-fluid d-flex minh-50vh bg-light align-items-center py-5 border-top">
    <div class="row mx-0 w-100 mt-5">
        <div class="col-11 col-sm-9 col-md-7 mx-auto d-flex align-items-center">
            <div class="w-100 text-center text-shadow">
                <h2 class="dispaly-6 fw-bold text-white">
                    Lorem ipsum dolor
                </h2>
                <p class="lead text-white">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </p>
            </div>
        </div>
    </div>
</section>
<section class="index-s2 container-fluid d-flex minh-25vh border-top border-dark bg-light align-items-center py-5">
    <div class="row mx-0 w-100">
        <div class="col-8 col-sm-5 col-md-4 col-lg-3 p-3 mx-auto">
            <div class="card">
                <img class="card-img-top" src="assets/img/index/img-1.jpg" alt="img"/>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Sit amet
                    </h5>
                    <h6 class="card-subtitle mb-3">
                        Lorem ipsum dolor
                    </h6>
                    <p class="initialism text-muted">
                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <a href="#1" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-3 p-3 mx-auto">
            <div class="card">
                <img class="card-img-top" src="assets/img/index/img-2.jpg" alt="img"/>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Sit amet
                    </h5>
                    <h6 class="card-subtitle mb-3">
                        Lorem ipsum dolor
                    </h6>
                    <p class="initialism text-muted">
                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <a href="#2" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-3 p-3 mx-auto">
            <div class="card">
                <img class="card-img-top" src="assets/img/index/img-3.jpg" alt="img"/>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        Sit amet
                    </h5>
                    <h6 class="card-subtitle mb-3">
                        Lorem ipsum dolor
                    </h6>
                    <p class="initialism text-muted">
                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <a href="#3" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="index-s3 container-fluid d-flex minh-50vh bg-light align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-5 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 offset-md-2 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start">
                <h5 class="text-dark">
                    Sed ut perspiciatis
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Unde omnis iste
                </h2>
                <p class="text-dark">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est
                </p>
            </div>
        </div>
    </div>
</section>
<section class="index-s4 container-fluid d-flex minh-50vh align-items-center py-5 border-top border-dark">
	<div class="row mx-0 w-100">
        <div class="col-12 col-md-5 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-5 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start pt-5">
                <h5 class="text-dark">
                    Lorem ipsum
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Dolor sit amet         
                </h2>
                <p class="text-dark">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.      
                </p>
            </div>
        </div>
    </div>
</section>